<script>
  import data from "../data/data.json"
  import { tick } from "svelte";

  let activeCategory = null
  let activeSubCategory = null
  let subcategories = []
  let filteredSubcategories = []
  let searchQuery = ""
  let division = null
  let searchInput = null;
  let targetEmail = null;

  function _findSubcategories(data, category) {
    return data["unterkategorien"].filter((element) => {
      return element["kategorie"] == activeCategory
    });
  }

  function currentCategory() {
    return data["kategorien"].filter((element) => {
      return element["id"] == activeCategory;
    })[0]
  }

  function peopleForDivision(division) {
    let subCategory = currentSubCategory();
    return division["personen"].filter((element) => {
      if (element["nur_verantwortlich_für"] == null) {
        return true;
      } else {
        return element["nur_verantwortlich_für"].includes(subCategory["id"])
      }
    })
  }

   function currentSubCategory() {
    return data["unterkategorien"].filter((element) => {
      return element["id"] == activeSubCategory;
    })[0]
  }

  function handleCategoryClick(event) {
    activeCategory = event.target.dataset.categoryId
    subcategories = _findSubcategories(data, activeCategory)
    activeSubCategory = null
    filteredSubcategories = subcategories;
    searchQuery = ""
    division = null
  }

  function handleEmailChange(event) {
    let value = event.target.value
    targetEmail = value;
  }

  function focusInput() {
    if (searchInput) {
      searchInput.focus()
    }
  };

  function handleSubCategoryClick(event) {
    division = null
    activeSubCategory = event.target.dataset.subcategoryId;
    targetEmail = null;
    let selectedSubCategory = data["unterkategorien"].filter((element) => {
      return element["id"] == activeSubCategory
    })

    if (selectedSubCategory.length == 0) {
      return;
    }

    let targetDivisionId = selectedSubCategory[0]["ziel_abteilung"]

    let divisions = data["abteilungen"].filter((element) => {
      return element["id"] == targetDivisionId
    })

    if (divisions.length == 0) {
      return;
    }
    division = divisions[0]
  }

  function emailContent(division) {
    const template =
    [
      "Sehr geehrte Damen und Herren,",
      "vielen Dank für ihre Kontaktaufnahme.",
      "",
      `Bezüglich ihrer Frage hinsichtlich ${currentCategory()["name"]} - ${currentSubCategory()["name"]} ist die Zuständige Fachabteilung ${division["name"]}.`,
      "Diese erreichen sie telefonisch oder per Email.",
      "",
      `Telefon: ${division["verantwortliche"]}`,
      `Email: ${division["email"]}`,
      "",
      `mit freundlichen Grüßen,`,
      `ihr TWL Kundenservice`
    ].join("\n")

    return encodeURIComponent(template)
  }

  function emailSubject(division) {
    return encodeURIComponent("Ihre Anfrage an TWL")
  }

  function divisionDocuments(activeSubCategory, division) {
    return division["dokumente"].filter((doc) => {
      return doc["nur_anzeigen_wenn_unterkategorie_eine_von"].length == 0 ||
      doc["nur_anzeigen_wenn_unterkategorie_eine_von"].includes(activeSubCategory)
    })
  }

  function handleSearchInput(event) {
    searchQuery = event.target.value
    filteredSubcategories = subcategories.filter((element) => {
      return element["name"].toLowerCase().includes(searchQuery.toLowerCase())
    })
  }
</script>

<div class="row">
  <div class="col-2">
    {#each data["kategorien"] as category}
      <div on:click={handleCategoryClick} on:click={async() => {await tick(); focusInput();}} data-category-id={category['id']} class="link-cursor user-select-none border p-2 mb-1 { category['id'] === activeCategory ? 'text-bg-primary' : '' }" >
        {category["name"]}
      </div>
    {/each}
  </div>

  <div class="col-3">
    {#if subcategories.length > 0}
      <form action="" class="mb-2">
        <input bind:this={searchInput} value={searchQuery} type="search" class="form-control" placeholder="Suche" on:input={handleSearchInput}>
      </form>
      {#each filteredSubcategories as subcategory}
        <div on:click={handleSubCategoryClick} data-subcategory-id={subcategory['id']} class="border p-2 mb-1 link-cursor user-select-none { subcategory['id'] === activeSubCategory ? 'text-bg-primary' : '' }">
          {subcategory["name"]}
        </div>
      {/each}
    {/if}
  </div>

  <div class="col-7">
    {#if division }
      <h1 class="h4">{division["name"]}</h1>
      <div class="card mb-2">
        <div class="card-header">
          Allgemeine Infos
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>Email</td>
                <td><a href="mailto:{division["email"]}">{division["email"]}</a></td>
              </tr>
              <tr>
                <td>Verantwortliche</td>
                <td>{division["verantwortliche"] || "-"}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {#if peopleForDivision(division).length != 0 }
      <div class="card mb-2">
        <div class="card-header">
          Personen
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <tbody>
              {#each peopleForDivision(division) as person}
                <tr>
                  <td>{person["name"]}
                  {#if person["führungskraft"]}
                  <span class="badge text-bg-primary">Führungskraft</span>
                  {/if}
                  </td>
                  <td><a href="tel:{person["durchwahl"]}">{person["durchwahl"]}</a></td>
                </tr>
              {/each}
            </tbody>
          </table>
        </div>
      </div>
      {/if}
      {#if divisionDocuments(activeSubCategory, division).length != 0 }
        <div class="card">
          <div class="card-header">
            Dokumente
          </div>
          <div class="card-body">
            <ul>
              {#each divisionDocuments(activeSubCategory, division) as document}
                <li>
                  <a href="{document["link"]}">{document["name"]}</a>
                </li>
              {/each}
            </ul>
          </div>
        </div>
      {/if}
      <hr>
      <p>Kontakt Informationen an Kunden weiterleiten.</p>
      <form >
        <div class="input-group">
          <input on:input={handleEmailChange} value={targetEmail} type="email"  class="form-control" placeholder="Kunden Email Addresse">
          <a href="mailto:{targetEmail}?subject={emailSubject(division)}&body={emailContent(division)}" class="btn btn-outline-secondary" type="link">Senden</a>
        </div>
      </form>
    {/if}
  </div>
</div>
<style>
  .link-cursor {
    cursor: pointer;
  }
</style>
